body{
    margin: 0;
    padding: 0;
    margin-top: 0;
}


.contactback{
    background-image: url(Images/contactback.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    gap: 40px;
    position:relative;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    font-size: 20.8px;
    font-weight: bold;
    font-family: sans-serif;
    

}
.image img{
    height: 20vh;
    margin-left: 48vw;
    position: fixed;
    margin-top: 8vh;
}
.kitisuru{
    border: solid 0.5px;
    height: 32vh;
    margin-left: 60vh;
    margin-top: 30vh;
    padding: 30px;
    width: 40vh;
    font-family: sans-serif;
    font-weight: 250;
    padding-top: 1vh;

    
}

.kitisuru h1{
    font-family: my_font;
    font-weight: 100;
    font-size: 40px;
}
.kitisuru a{
    color: white;
    text-decoration: none;
}
.kitisuru p{
    line-height: 3vh;
}
.kilimani{
    border: solid white 0.5px;
    height: 42vh;
    margin-top: 30vh;
    padding: 30px;
    width: 40vh;
    font-family: sans-serif;
    font-weight: 250;
    padding-top: 1vh;
}      
.kilimani h1{    
    font-family: my_font;
    font-weight: 100;
    font-size: 40px;
}

.kilimani a{
    color: white;
    text-decoration: none;
}
.kilimani p{
    line-height: 3vh;
}

/*navigation bar*/
.navbar nav {
    background-color: rgb(15, 14, 14);
    /* padding: 0.3vh; */
    color: white;
    border-radius: 40px;
    margin-top:-4cm;
    margin-left: 35vw;
    /* margin: auto 0; */
    padding-right: 1cm;
    /* background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken; */
    position: absolute;


}

.navbar nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap:10px

}
.navbar nav a {
    color: black;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: serif;
   
}


.navbar nav a:hover {
    color: gray
}
.navbar nav a:active {
    color: #aaa;
}
.navbar nav a {
    transition: color 0.1s ease;
    padding: 10px 0px;
}
.navbar nav i{
    padding: 11px 0px;
    height: 1vh;
    padding-top: 1.8vh;
    gap: 4vh;
}
.navbar nav li{
    padding: 15px;
}
#reservations{
    background-color: #aaa;
    border-radius: 25px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 190px;
    background-color: white;
    color: black;
    text-align: left;
    border-radius: 7px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    bottom: 60px;
    margin-left: -90px;
    font-size: 20px;
    
  }
  
 
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
   
  }

  .tooltipmenu .tooltipmenutext{
    visibility: hidden;
    width: 190px;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    text-align: left;
    position: absolute;
    bottom: 60px;
    margin-left: -90px;
    padding: 10px;
    border-radius: 7px;
    font-size: 20px;
    
  }

  .tooltipmenu:hover .tooltipmenutext{
    visibility: visible;
  }

  @font-face {
    font-family: "my_font";
    src: url(fonts/Type\ Machine.ttf);
    font-weight: 100;
}

.icons{
    display: flex;
    gap: 1vw;
    font-size: 25px;
    color: #aaa;
}



@media only screen and (max-width: 400px) and (min-width: 0px){
    body{
        margin: 0;
        padding: 0;
        margin-top: 0;
        background-color: black;
    }
    
    
    .contactback{
        height: 120vh;
        color: white;
        display: block;
        /* gap: 10px; */
        position:relative;
        top: 0;
        width:115vw;
        overflow-x: hidden;
        
    
    }
    
    .image img{
        /* height: 1vh; */
        margin-left: 3.5cm;
        position: fixed;
        /* margin-top: 1vh; */
        margin-top: 35vh;
        

    }

    .kitisuru{
        height: 35vh;
        margin-left: 15px;
        margin-bottom: 10vh;
        padding: 8px;
        font-size: 15px;
        margin-top: 40px;
        width: 35vh;
        padding-top: 1px;
        
        
        
        
    
        
    }
    .kilimani{
        height: 42vh;
        margin-top: -7vh;
        padding: 20px;
        font-size: 15px;
        margin-left: 15px;
        width: 38vh;
        padding-top: 0px;
    }


     /*navigation bar*/
     .navbar nav {
        background-color: rgb(13, 12, 12);
        /* padding: 0; */
        color: white;
        border-radius: 40px;
        /* margin-top: 10vh; */
        margin-left: 8vh;
        padding-right: 15vw;
        width: 60vw ;
       /* z-index: -10 ; */
        /* position: fixed; */
        
    
    
    }
    
    .navbar nav ul {
        
        gap:10px
    
    }
  

  #home{
      display: none;
    }
   
  #reservations{
      margin-left: -32vh;
  }  
  .icons{
      gap: 2vh;
  }
    
}
@media only screen and (max-width: 800px) and (min-width: 401px){
    
    body{
        margin: 0;
        padding: 0;
        margin-top: 0;
    }
    
    
    .contactback{
        background-size: cover;
        height: 120vh;
        color: white;
        display: block;
        /* gap: 50px; */
        position:relative;
        margin-top: 0;
        width: 115vw;
        
        
    
    }

    .image img{
        height: 20vh;
        margin-left: 15vh;
        position: fixed;
        margin-top: 40vh;
    }
    .kitisuru{
        border: solid ;
        height: 35vh;
        margin-left: 2vh;
        margin-bottom: 6vh;
        padding: 10px;
        margin-top: 0;
    
        
    }
    .kilimani{
        border: solid white;
        height: 40vh;
        margin-top: 4vh;
        padding: 20px;
    }
   

     /*navigation bar*/
     .navbar nav {
        background-color: rgb(13, 12, 12);
        /* padding: 0; */
        color: white;
        border-radius: 40px;
        /* margin-top: 10vh; */
        margin-left: 8vh;
        padding-right: 5vw;
        width: 60vw ;
       /* z-index: -10 ; */
        /* position: fixed; */
        
    
    
    }
    
    .navbar nav ul {
        
        gap:10px
    
    }
  

  #home{
      display: none;
    }
   
  #reservations{
      margin-left: -32vh;
  }  
  .icons{
      gap: 2vh;
  }
    
}
@media only screen and (max-width: 1200px) and (min-width: 801px){
    
    body{
        margin: 0;
        padding: 0;
        margin-top: 0;
    }
    
    
    .contactback{
        height: 100vh;
        color: white;
        display: flex;
        gap: 65px;
        position:relative;
        
    
    }
    .kitisuru{
        border: solid ;
        height: 40vh;
        margin-left: 2vh;
        margin-top: 20vh;
        padding: 10px;
    
        
    }

    .image img{
        height: 15vh;
        margin-left: 10cm;
        position: absolute;
        margin-top: 1vh;
    }
    .kilimani{
        border: solid white;
        height: 50vh;
        margin-top: 20vh;
        padding: 20px;
        margin-right: 18px;
    }
    /*navigation bar*/
.navbar nav {
    background-color: rgb(14, 14, 14);
    /* padding: 0.2cm; */
    color: white;
    border-radius: 40px;
    margin-top:-3cm;
    margin-left: 4vh;
    padding-right: 1cm;
   
    position: absolute;


}

.navbar nav ul {
    gap:5px

}



.icons{
    gap: 2vh;
}
  


}