body{
    margin: 0;
}


.events{
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    color: white;
    text-align: center;
    

}
.divtext{
    margin-top: 35vh;
    
}
.divtext h1{
    font-family: my_font;
    font-size: 48px;
    font-weight: 250;
    letter-spacing: -5px;
    line-height: 90%;
}
.accra{
    background-image: url(Images/accra.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    
}
.nairobi{
    background-image: url(Images/nairobi.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;


}
.zanzibar{
    background-image: url(Images/ankolegrill-kitisuru\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;

}
#pavilion{
    color: darkgray;

}
#capacity{
    color: #FACE8D;
    font-family: serif;
}
@font-face {
    font-family: "my_font";
    src: url(fonts/Type\ Machine.ttf);
    font-weight: 100;
    
}

/*navigation bar*/
.navbar nav {
    background-color:rgb(19, 17, 17);
    /* padding: 0.3vh; */
    color: white;
    border-radius: 40px;
    bottom: 0;
    margin-bottom: 7vh;

    margin-left: 30vw;
    /* margin: auto 0; */
    padding-right: 1cm;
    /* background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken; */
    position: absolute;
    z-index: 2000;
    /* border: solid 10px; */


}

.navbar nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap:1px;
    align-content: center;
    /* border: solid; */
    margin-right: -1vw;


}
.navbar nav a {
    color: black;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
   
   
}


.navbar nav a:hover {
    color: gray
}
.navbar nav a:active {
    color: #aaa;
}
.navbar nav a {
    transition: color 0.1s ease;
    padding: 10px 0px;
    font-size: 17px;
}
.navbar nav i{
    padding: 11px 0px;
    height: 1vh;
    /* padding-top: 1.8vh; */
    gap: 4vh;
    color: #aaa;
    font-size: larger;
}
/* .navbar nav i:hover{
    background-color: white;
    border-radius: 25px;
    padding: 10px 10px;

} */
.navbar nav li{
    padding: 15px;
}
#reservations{
    background-color: #aaa;
    border-radius: 25px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: white;
    color: black;
    text-align: left;
    border-radius: 7px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    bottom: 60px;
    margin-left: -90px;
    font-size: 20px;
  }
  
 
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
   
  }

  .tooltipmenu .tooltipmenutext{
    visibility: hidden;
    width: 190px;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    text-align: left;
    position: absolute;
    bottom: 60px;
    margin-left: -90px;
    padding: 10px;
    border-radius: 7px;
    font-size: 20px;
    

    
  }

  .tooltipmenu:hover .tooltipmenutext{
    visibility: visible;
  }

  .icons{
    display: flex;
    gap: 1.2vw;
    font-size: 22px;
    /* border: solid; */
    padding: 0;
  }
  .image{
    position: absolute;
    margin-top: 6vh;
  }
  .image img{
    height: 25vh;
    margin-bottom: 5vh;
    margin-left: 93vh;
    
    
}
@media only screen and (max-width: 400px) and (min-width: 0px){

    body{
        margin: 0;
    }
    
    
    .events{
        display: block;
        height: 80vh;
        width: 100vw;
        overflow-x: hidden;
        color: white;
        text-align: center;
        
    
    }
    .divtext{
        margin-top: 35vh;
        
    }
    .divtext h1{
        font-family: my_font;
        font-size: 48px;
        font-weight: 250;
        letter-spacing: -5px;
        line-height: 90%;
    }
    .accra{
        background-image: url(Images/accra.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
        
    }
    .nairobi{
        background-image: url(Images/nairobi.webp);
        background-size: cover;
        background-repeat: no-repeat;
        width: 60vw;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
    
    
    }
    .zanzibar{
        background-image: url(Images/ankolegrill-kitisuru\ \(1\).jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 60vw;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
    
    }
    #pavilion{
        color: darkgray;
    
    }
    #capacity{
        color: #FACE8D;
        font-family: serif;
    }
    @font-face {
        font-family: "my_font";
        src: url(fonts/Type\ Machine.ttf);
        font-weight: 100;
        
    }
    /*navigation bar*/
    .navbar nav {
        background-color:rgb(19, 17, 17);
        /* padding: 0.3vh; */
        color: white;
        border-radius: 40px;
        margin-top:-4cm;
        margin-left: 30vw;
        /* margin: auto 0; */
        padding-right: 1cm;
        /* background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken; */
        position: absolute;
        z-index: 1000;
    
    
    }
    
    .navbar nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        gap:10px
    
    }
    .navbar nav a {
        color: black;
        text-decoration: none;
        color: white;
       
    }
    
    
    .navbar nav a:hover {
        color: gray
    }
    .navbar nav a:active {
        color: #aaa;
    }
    .navbar nav a {
        transition: color 0.1s ease;
        padding: 10px 0px;
    }
    .navbar nav i{
        padding: 11px 0px;
        height: 1vh;
        padding-top: 1.8vh;
        gap: 4vh;
        color: #aaa;
        font-size: larger;
    }
    .navbar nav i:hover{
        background-color: white;
        border-radius: 25px;
        padding: 10px 10px;
    
    }
    .navbar nav li{
        padding: 15px;
    }
    #reservations{
        background-color: #aaa;
        border-radius: 25px;
    }
    
      .image{
        position: absolute;
        margin-top: 6vh;
      }
      .image img{
        height: 25vh;
        margin-bottom: 5vh;
        margin-left: 9vh;
        
        
    }
}
    

