body{

    background-color: black;
    
}

/* .reviewtext{
    display: flex;
    /* width: 85vh; 
    margin-left: 60vh;
    font-family: serif;

}
.reviewtext p{
    line-height: 25px;
    font-weight: 700;
}
.reviews h1{
    font-family: my_font;
    font-size: 50px;
    font-weight: 100;
    
}


.reviews{
    color: white;
    margin-left: 5vh;
    text-align: center;
    margin-top: 10vh;
}
.reviews img{
    height: 20vh;
}
.reviewtext i{
    padding: 3vh 0;
    padding-top: 4vh;
    margin-left: 2vh;
    font-size: 60px;
    /* border: solid; 
    
    
}
.reviewtext a{
    color: grey;

}
*/
#revright{
    color: rgb(191, 67, 22);
    font-size: 30px;
    margin-left:80vh ;
}
#revleft{
    color: rgb(191, 67, 22);
    font-size: 30px;
    margin-right: 80vh;
} 

/* Slideshow container */
.slideshow-container {
    position: relative;
  }
  
  /* Slides */
  .reviews {
    display: none;
    padding: 80px;
    text-align: center;
    color: white;
    scroll-behavior: smooth;
    /* position: fixed; */
    /* margin-left: 50vh;*/
    /* margin-top: 0vh;  */
  }
  .reviews h1{
    font-family: my_font;
    font-size: 50px;
  }
  .reviews{
    font-family: sans-serif;
    line-height: 3vh;
    font-weight: 600;
  }
  
  /* Next & previous buttons */
.prev, .next{
    cursor: pointer;
    /* position: absolute; */
    top: 50%;
    /* width: 48vh; */
    /* margin-top: -30px; */
    padding: 16px;
    color: gray;
    font-weight: 100;
    opacity: 0.5;
    font-size: 60px;
    /* border: solid; */
    margin-left: 45vh;

    /* border-radius: 0 3px 3px 0; */
    /* user-select: none; */
  }
  .prev{
   position: fixed
  }
  
  /* Position the "next button" to the right */
  .next {
    position: fixed;
    margin-left: 155vh;
    /* top: 65%; */

  }
  
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    /* background-color: rgba(0,0,0,0.8); */
    color: white;
  }
  
 
  
  .reviews img{
    height: 20vh;
    margin-bottom: 5vh;
    /* position: absolute; */
    /* border: solid; */
}

  
 
  
 

@font-face {
    font-family: "my_font";
    src: url(fonts/Type\ Machine.ttf);
    font-weight: 100;
}


.navbar nav {
    background-color:rgb(19, 17, 17);
    /* padding: 0.3vh; */
    color: white;
    border-radius: 40px;
    bottom: 0;
    margin-bottom: 7vh;

    margin-left: 30vw;
    /* margin: auto 0; */
    padding-right: 1cm;
    /* background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken; */
    position: absolute;
    z-index: 2000;
    /* border: solid 10px; */


}

.navbar nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap:10px;
    align-content: center;
    /* border: solid; */
    margin-right: -1vw;


}
.navbar nav a {
    color: black;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
   
   
}


.navbar nav a:hover {
    color: gray
}
.navbar nav a:active {
    color: #aaa;
}
.navbar nav a {
    transition: color 0.1s ease;
    padding: 10px 0px;
    font-size: 17px;
}
.navbar nav i{
    padding: 11px 0px;
    height: 1vh;
    /* padding-top: 1.8vh; */
    gap: 4vh;
    color: #aaa;
    font-size: larger;
}
/* .navbar nav i:hover{
    background-color: white;
    border-radius: 25px;
    padding: 10px 10px;

} */
.navbar nav li{
    padding: 15px;
}
#reservations{
    background-color: #aaa;
    border-radius: 25px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: white;
    color: black;
    text-align: left;
    border-radius: 7px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    bottom: 60px;
    margin-left: -90px;
    font-size: 20px;
  }
  
 
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
   
  }

  .tooltipmenu .tooltipmenutext{
    visibility: hidden;
    width: 190px;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    text-align: left;
    position: absolute;
    bottom: 60px;
    margin-left: -90px;
    padding: 10px;
    border-radius: 7px;
    font-size: 20px;
    

    
  }

  .tooltipmenu:hover .tooltipmenutext{
    visibility: visible;
  }
  .image{
    position: absolute;
    margin-top: 6vh;
  }
  .image img{
    height: 20vh;
    margin-bottom: 5vh;
    margin-left: 93vh;
    
    
}

.icons{
    display: flex;
    gap: 1.2vw;
    font-size: 22px;
    /* border: solid; */
    padding: 0;
    margin-left: -1vw;
}
